body{

    padding: 0px;
    margin: 0px;
     
    background-image: url("https://images.hdqwalls.com/download/vector-design-retro-4k-fh-1600x900.jpg");

    background-repeat: no-repeat;

}
.left{

   /* color: white;
   border: white 2px solid; */
   display: inline-block;
   position: absolute;
   top: 14px;
   left: 5px;

}

.left img{

    width: 95px;
    height: 95px;
    margin: 8px 8px;
    padding: 8px 8px;
}

.mid{

   display: block;
   width: 25%;
   /*color: white;
   border: white 2px solid;*/
   margin: 35px auto;

}

.right{

   color: white;
   border: white 2px solid;
   display: inline-block;
   position: absolute;
   top: 14px;
   right: 5px;
}

}
.navbar{

    list-style: none;
    font-family: 'Urbanist', sans-serif;
    

}

.navbar li{
    display: inline-block;
    padding: 14px 15px;  

}

a{
    text-decoration: none;
}

.navbar li a{
    font-size: medium;
    color: white;

}

















